/* Solution */

/* body {
  font-family: sans-serif;
}

h1 {
  color: red;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.second-li {
  color: green;
}

#first-li ~ li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
} */